@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200;400&display=swap");
// font-family: 'Fredoka One', cursive;
// font-family: 'Poppins', sans-serif;


*{
  margin: 0;
}

p{
  margin-bottom: 0.7rem;
}

html,
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  background-color: transparent;
}

.title {
  margin: 1vh 2vw 1vh 2vw;
  font-family: "Fredoka One", cursive;
}

.homePage {
  padding: 5vw;
}

.heading {
  padding: 2px;
}



.boldText{
font-weight: bolder;
font-size: large;
}

// .................................................. Header

.nav {
  margin: 2vh 3vw 2vh 40vw;
  display: flex;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  font-weight: 200;
  font-size: 1rem;
}

.nav-item {
  color: white;
  padding-top: 1vh;
}

#header {
  display: flex;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headerText{
  font-family: "Fredoka One", cursive;
  padding-top: 3vh;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none !important;
  color: white;
}


// .................................................. Devise

.devise{
  background-image: url(devise-background.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: auto;
  // overflow:hidden;
}

.devise h1{
  font-size: 7vw;
  font-family: 'Fredoka One', cursive;
  color: white;
  padding-bottom: 8vh;
}

.devise h2{
  font-family: 'Fredoka One', cursive;
  color: white;
  margin-bottom: 3vh;
}

.devise hr{
  border: 1px solid white;
}

.devise-box{
  background-color: rgba($color: #044F6D, $alpha: 0.8);
  padding: 10px;
  color: white;
  border-radius: 20px;
  width: 40vw;
  height:auto;
}

.devise-create{
  background-image: url(devise-background.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  max-height: auto;
  // overflow:hidden;
}

.devise-create h1{
  font-size: 7vw;
  font-family: 'Fredoka One', cursive;
  color: white;
  padding-bottom: 8vh;
}

.devise-create h2{
  font-family: 'Fredoka One', cursive;
  color: white;
  margin-bottom: 3vh;
}

.field {
  margin-bottom: 20px;
}

// .................................................. Home

.homeImg {
  height: 70vh;
  min-width: 10vw;
  width: 25vw;
  max-width: 30vw;
  border-radius: 30px;
  box-shadow: 5px 5px 2.5px #5d5d5d;
}

.text {
  object-fit: cover;
  position: absolute;
  color: white;
  padding: 5vw;
  bottom: 5px;
  top: 5px;
  right: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text h3{
  font-family: "Fredoka One", cursive;
  padding-bottom: 4vh;
}

img {
  object-fit: cover;
}

#lendButton {
  background-image: url("");
}

// .................................................. Library
.page {
  height: 100%;
  overflow: hidden;
  padding: 3vh 3vw 6vh 3vw;
}

.libraryPage {
  height: 100%;
  overflow: hidden;
  padding-top: 0vh;
  padding-bottom: 6vh;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  box-shadow: 3px 3px 2.5px #5d5d5d;
}

.mainRow {
  background-color: #46c2a5;
  color: white;
}

.bodyRow {
  background-color: white;
}

.libraryLink {
  color: black;
}

.libraryLink:hover {
  color: #46C2A5;
}

.editButton{
  background-color: #46C2A5;
  }

.editButton:hover{
  background-color: #4CDBB9;
  }

#deleteButton {
  background-color: #f14b4b;
}

#deleteButton:hover {
  background-color: #ff6060;
}

// .................................................. Library-Books You Borrow/Borrowed/Lended Page



.imgCard {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 35%;
  max-width: 30vw;
  height: 80vh;
  text-align: center;
  float: left;
}

.imgCard img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 75vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.detailsCard{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  height: 80vh;
  text-align: center;
  float: right;
}

// .................................................. Borrow
#borrowPage{
  // height: 100%;
  overflow: hidden;
  padding-top: 0vh;
  padding-bottom: 6vh;
}

#borrow-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 4vh;
  height: 100%;
  overflow: hidden;
}

.borrowCard {
  border: 3px solid #21618c;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 28vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  background-color: white;
  box-shadow: 5px 5px 2.5px #5d5d5d;
}

.borrowCard img{
  width: 25vw;
  height: auto;
  max-height: 65vh;
  border-radius: 20px;
}

.borrowInfoButton{
  background-color: #044F6D;
  margin: 1vw;
  }

.borrowInfoButton:hover{
  background-color: #1186B5;
  }

.book-title {
  margin-top: 1.2vh;
}

// .................................................. Borrow Show

#review{
  float: middle;
  // display: flex;
  // align-items: center;
}

// #review h2{
//   font-family: "Fredoka One", cursive;

// }

#goodReadsBox{
  margin-top: 90vh;
  align-items: center;
  display: flex;
  flex-direction:column;
  // justify-content: center;
  // width:0px !important;
}

#goodreads-widget a{
color: #044F6D !important;
font-weight: 900 !important;
}

#goodreads-widget {
  border: 3px solid #044F6D;
  border-radius: 20px;
  margin: 2rem !important;
  padding: 2rem !important;
  width: auto !important;
}

.gr_review_container {
  padding: 1rem !important;
}

#the_iframe {
  background-color: #ECFDFF !important;
  padding: 1.5rem !important;
}

// .................................................. Lend

.form-page {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  z-index: -1;
}


.lendHeading {
  padding: 2px;
  background-color: #f8c922;
  width: 25vw;
  align-items: center;
}

.lendForm {
  padding: 0.5rem 1rem 3rem 1.3rem;
  color: black;
  font-size: 14px;
  // border: 1px solid black;
  // margin-bottom: 1rem;
}

.form-control{
  height: 5vh;
}

#container {
  position: relative;
  text-align: center;
  color: black;
}

.form-submit-btn {
  background-color: #f8c922;
  color: black;
  margin-top: 0.3rem;
}
// .................................................. Footer

div#footer {
  position: fixed; //fixed
  bottom: 0;
  width: 100%;
  height: 3em; //was not here
  // text-align: center;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
}

#copy {
  margin-right: 20vw;
  text-align: left;
  vertical-align: middle;
  align-items: center;
}

p#copy {
  margin-bottom: 0;
  color: white;
  padding-top: 2vh;
}

#top {
  margin-left: 20vw;
  text-align: right;
  vertical-align: middle;
}

h6#top {
  margin-bottom: 0;
  color: white;
  padding-top: 2vh;
}

//.................................................About Us

.aboutUs {
  height: 100%;
  width: 100vw;
}

.whatIsPagelender {
  height: auto;
  width: 100vw;
  padding: 10px;
}

.mission {
  height: auto;
  width: 100vw;
  padding: 10px;
}

.whoWeAre {
  height: auto;
  width: 100vw;
  padding: 10px;
  padding-bottom: 10px;
}

//.................................................... Not Found Page

