@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200;400&display=swap");
// font-family: 'Fredoka One', cursive;
// font-family: 'Poppins', sans-serif;

html,
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  background-color: transparent;
}

.title {
  margin: 1vh 2vw 1vh 2vw;
  font-family: "Fredoka One", cursive;
}

.page {
  padding: 5vw;
}

// .................................................. Header

.nav {
  margin: 2vh 3vw 2vh 40vw;
  display: flex;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  font-weight: 200;
  font-size: 1rem;
}

.nav-item {
  color: white;
}

#header {
  display: flex;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none !important;
  color: white;
}

// .................................................. Home

.homeImg {
  height: 70vh;
  min-width: 10vw;
  width: 25vw;
  max-width: 30vw;
  border-radius: 30px;
  box-shadow: 5px 5px 2.5px #5d5d5d;
}

.text {
  object-fit: cover;
  position: absolute;
  color: white;
  padding: 5vw;
  bottom: 5px;
  top: 5px;
  right: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  object-fit: cover;
}

#lendButton {
  background-image: url("");
}

// .................................................. Library

.libraryLink {
  color: black;
}

// .................................................. Borrow

.bookImg {
  width: 15vw;
}

// .................................................. Lend

.form-page {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
}

.heading {
  padding: 2px;
  background-color: #f8c922;
  width: 25vw;
  align-items: center;
}

.form {
  padding: 0.5rem 1rem 3rem 1.3rem;
  color: black;
  font-size: 400;
  // border: 1px solid black;
  // margin-bottom: 1rem;
}

#container {
  position: relative;
  text-align: center;
  color: black;
}

.form-submit-btn {
  background-color: #f8c922;
  color: black;
  margin-top: 0.3rem;
}
// .................................................. Footer

div#footer {
  position: fixed; //fixed
  bottom: 0;
  width: 100%;
  height: 3em; //was not here
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#copy {
  margin-right: 20vw;
  text-align: left;
  vertical-align: middle;
}

p#copy {
  margin-bottom: 0;
}

#top {
  margin-left: 20vw;
  text-align: right;
  vertical-align: middle;
}

p#top {
  margin-bottom: 0;
}

//.................................................About Us

.aboutUs {
  height: 100%;
  width: 100vw;
}

.whatIsPagelender {
  height: auto;
  width: 100vw;
  padding: 10px;
}

.mission {
  height: auto;
  width: 100vw;
  padding: 10px;
}

.whoWeAre {
  height: auto;
  width: 100vw;
  padding: 10px;
  padding-bottom: 10px;
}
