@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200;400&display=swap");
// font-family: 'Fredoka One', cursive;
// font-family: 'Poppins', sans-serif;
*{
  margin: 0;
}

html, body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  // height: 100%;
  // margin: 0;
  // background-color: transparent;
  // padding-bottom: 5vh;
}

.title {
  margin: 1vh 2vw 1vh 2vw;
  font-family: "Fredoka One", cursive;
}

.homePage{
  padding: 5vw;
}

.page {
  padding: 3vw;
  height: 100%;
  overflow: hidden;
}

// .myLibrary{
//   background-color:#E3F8F2;
//   padding-bottom: 5vh;
//   padding-top: 5vh;
// }
// .................................................. Header

.nav {
  margin: 2vh 3vw 2vh 40vw;
  display: flex;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  font-weight: 200;
  font-size: 1rem;
}

.nav-item {
  color: white;
}

#header {
  display: flex;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none !important;
  color: white;
}

// .................................................. Home

.homeImg {
  height: 70vh;
  min-width: 10vw;
  width: 25vw;
  max-width: 30vw;
  border-radius: 30px;
  box-shadow: 5px 5px 2.5px #5d5d5d;
}

.text{
object-fit: cover;
position: absolute;
color: white;
padding: 5vw;
bottom: 5px;
top:5px;
right:5px;
left:5px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
}

img{
  object-fit: cover;
}

#lendButton{
background-image: url("");
}

// .................................................. Library
.libraryHeaderText{
  font-family: "Fredoka One", cursive;
  color: #46C2A5;
  padding-top: 3vh;
}

// #borrowedHeader{
//   padding-top: 2vh
// }

.table{
  margin-left:auto;
  margin-right:auto;
  width: 90vw;
  box-shadow: 3px 3px 2.5px #5d5d5d;
}

.mainRow{
  background-color: #46C2A5;
  color: white
}

.bodyRow{
  background-color: white;
}

.libraryLink{
  color: black
}

#editButton{
  background-color: #46C2A5;
  }

#editButton:hover{
  background-color: #4CDBB9;
  }

#deleteButton{
  background-color: #F14B4B;
  }

#deleteButton:hover{
  background-color:#FF6060 ;
  }

// .................................................. Library-Books You Borrowed Page

.imgCard{
  border: 2px solid #46C2A5;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 35%;
  max-width: 30vw;
  height: 80vh;
  text-align: center;
  float: left;
}

.imgCard img{
  width: 100%;
  max-width: 100%;
  height: auto; 
  max-height: 75vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.detailsCard{
  border: 2px solid #46C2A5;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  height: 80vh;
  text-align: center;
  float:right;
}

// .................................................. Library-Books You Borrowed Page


// .................................................. Borrow

.bookImg{
  width: 15vw;
}

// .................................................. Lend

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 30vw;
}

// .................................................. Footer

div#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#copy {
  margin-right: 20vw;
  text-align: left;
  vertical-align: middle;
}

#top {
  margin-left: 20vw;
  text-align: right;
}
