@import 'bootstrap';

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    margin-bottom: 10vh;
}

.title {
    margin: 1vh 2vw 1vh 2vw;
}


// .................................................. Header

.nav {
    margin: 2vh 3vw 2vh 40vw;
    display: flex;
    justify-content: space-around;
    position: sticky;
    width: 100%;
}

.nav-item {
    color: white;
}

#header {
    display: flex;
    background-color: green;
    color: white;
}

// .................................................. Lend

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 30vw;
}


// .................................................. Footer

div#footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copy {
    margin-right: 20vw;
    text-align: left;
}

#about {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

#top {
    margin-left: 20vw;
    text-align: right;
}


